
services:  
  ai-migrate-service:
    build:       
      context: ./src/
      target: debug
    command: ["sh", "-c","python /tmp/debugpy --wait-for-client --listen 0.0.0.0:5678 /usr/local/bin/uvicorn main:app --host 0.0.0.0 --reload"]
    ports:
      - "8080:8000"
      - 5678:5678
    # depends_on:
    #   redis:
    #     condition: service_healthy
    volumes:
      - ./src/:/usr/src/app      
      - ./src/credentials:/credentials
      - ./data/:/data
    environment:
      - GOOGLE_APPLICATION_CREDENTIALS=/credentials/application_default_credentials.json
      # - GOOGLE_APPLICATION_CREDENTIALS=/credentials/synergy-chat-n9kf6-b00564ad4aa3.json
      - CLOUD_RUN_HASH=e6aysp7qoq-uc.a.run.app
      - REDIS_HOST=redis
      - REDIS_PORT=6379